<%= form_with model: @user do |form|%>
  <% if @user.errors.any?%>
    <div id = "error_explanation">
      <h3><%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg%> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :username, "Username: " %>
    <%= form.text_field :username, placeholder: "Your username" %>
  </div>
  <br>
  <div>
    <%= form.label :email, "Email: " %>
    <%= form.email_field :email, placeholder: "example@mail" %>
  </div>
    <br>
  <div>
    <%= form.label :password, "Password: " %>
    <%= form.password_field(:password, placeholder: "8-24 characters") %>
  </div>
    <br>
  <div>
    <%= form.label :password_confirmation, "Comfirmed password: " %>
    <%= form.password_field :password_confirmation %>
  </div>
    <br>
  <div><%= form.submit %></div>
  
<% end %>